In [1]:
import pandas as pd
import numpy as np
from mlxtend.frequent_patterns import apriori, association_rules
import matplotlib.pyplot as plt
import missingno as msno

ModuleNotFoundError: No module named 'mlxtend'

In [2]:
file = "https://gist.githubusercontent.com/Harsh-Git-Hub/2979ec48043928ad9033d8469928e751/raw/72de943e040b8bd0d087624b154d41b2ba9d9b60/retail_dataset.csv"

In [3]:
df = pd.read_csv(file)
df.head()

        0       1     2       3       4       5       6
0   Bread    Wine  Eggs    Meat  Cheese  Pencil  Diaper
1   Bread  Cheese  Meat  Diaper    Wine    Milk  Pencil
2  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
3  Cheese    Meat  Eggs    Milk    Wine     NaN     NaN
4    Meat  Pencil  Wine     NaN     NaN     NaN     NaN

In [4]:
msno.matrix(df)

NameError: name 'msno' is not defined

In [5]:
msno.bar(df)

NameError: name 'msno' is not defined

In [6]:
items = (df['0'].unique())
items

array(['Bread', 'Cheese', 'Meat', 'Eggs', 'Wine', 'Bagel', 'Pencil',
       'Diaper', 'Milk'], dtype=object)

In [7]:
encoded_vals = []

for index, row in df.iterrows():
    labels = {}
    uncommons = list(set(items) - set(row))
    commons = list(set(items).intersection(row))
    for uc in uncommons:
        labels[uc] = 0
    for com in commons:
        labels[com] = 1
    encoded_vals.append(labels)

In [8]:
ohe_df = pd.DataFrame(encoded_vals)
ohe_df.head()

   Milk  Bagel  Meat  Wine  Eggs  Pencil  Diaper  Cheese  Bread
0     0      0     1     1     1       1       1       1      1
1     1      0     1     1     0       1       1       1      1
2     1      0     1     1     1       0       0       1      0
3     1      0     1     1     1       0       0       1      0
4     0      0     1     1     0       1       0       0      0

In [9]:
freq_items = apriori(ohe_df, min_support=0.2, use_colnames=True, verbose=1)
freq_items.head()

NameError: name 'apriori' is not defined

In [10]:
freq_items.itemsets.unique()

NameError: name 'freq_items' is not defined

In [11]:
rules = association_rules(freq_items, min_threshold=0.6)
rules

NameError: name 'association_rules' is not defined